#statistic-container {
    padding: 0px !important;
}

.right-content {
    margin-left: 40px;
    padding: 20px;
    transition: 0.5s;
}

.right-content.open {
    margin-left: 340px;
}

.chart-container {
    padding: 25px !important;
}

.statistic-title {
    background-color: #ECECEC;
    padding: 25px ;
    margin: 10px !important;
}

.statistic-title-icon {
    font-size: 55px;
    padding: 5px;
    margin-right: 20px;
    border-radius: 50%;
    background-color:white;
    float: left;
}

.subtitle {
    color: #999999;
    font-weight: 500;
}

.subtitle-content {
    font-size: 16px;
    font-weight: 500;
}