.side-panel {
    position: fixed;
    width: 330px;
    height: 100%;
    left: -300px;
    transition: 0.5s;
}

.side-panel-toggle {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(202, 202, 202);
    border-color:rgb(202, 202, 202);
    color: white;
    transition: 0.5s;
}

.side-panel-toggle-icon {
    font-size: 45px;
}

.side-panel-form {
    position: relative;
    left: 0px;
    padding: 20px;
    width: 300px;
    height: 100%;
    background-color: rgb(202, 202, 202);
}

.side-panel.open {
    left: 0px;
}

.side-panel-toggle.open {
    left: 300px;
}

.side-panel-title-container {
    background: grey;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
    height: 50px;
    padding: 0px 4px;
}

.side-panel-title {
    color: white;
    font-size: 30px;
}

.right-content {
    margin-left: 30px;
    padding: 20px;
    transition: 0.5s;
}

.right-content.open {
    margin-left: 330px;
}

.chart-container {
    padding: 25px !important;
}

.statistic-title {
    background-color: #ECECEC;
    padding: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.statistic-title-icon {
    font-size: 55px;
    padding: 5px;
    margin-right: 20px;
    border-radius: 50%;
    background-color:white;
    float: left;
}