#dashboard-container {
    background-color: rgb(235, 235, 235);
    min-height: 100%;
}

.dashboard-chart-outer-container {
    margin-bottom: 20px;
}

.dashboard-chart-inner-container {
    border: none !important;
    height: 100%;
}

.dashboard-chart-title {
    font-family: Open Sans;
}

.dashboard-error-component {
    color: rgb(225, 0, 0);
    background-color: rgb(255, 200, 200);
    border: solid;
    border-color: rgb(255, 90, 90);
    border-width: 1px;
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px;
    text-align: center;
}

.dashboard-chart-detail-header-text {
    background-color: rgba(0,0,0,0) !important;
    font-family: Open Sans;
    border: None !important;
}

.dashboard-chart-detail-text-title {
    font-size: 14px;
    color: #6C757D;
}

.dashboard-chart-detail-text {
    font-size: 14px;
    text-align: right;
}

.dashboard-chart-footer-text {
    font-size: 14px;
    color: grey;
}

/* 
Refer to Statistics.css for the sidepanel css 
.side-panel {
    position: fixed;
    width: 330px;
    height: 100%;
    left: -300px;
    transition: 0.5s;
}

.side-panel-toggle {
    position: fixed;
    left: -10px;
    background-color: rgb(202, 202, 202);
    border-color:rgb(202, 202, 202);
    color: white;
    padding: 0;
    top: 0;
    transition: 0.5s;
    border-radius: 5px;
}

.side-panel-toggle-icon {
    font-size: 45px;
}

.side-panel-form {
    position: relative;
    left: 0px;
    padding: 20px;
    width: 300px;
    height: 100%;
    background-color: rgb(202, 202, 202);
}

.side-panel.open {
    left: 0px;
}

.side-panel-toggle.open {
    left: 290px;
}

.side-panel-title-container {
    background: grey;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
    height: 50px;
    padding: 0px 4px;
}

.side-panel-title {
    color: white;
    font-size: 30px;
}

.right-content {
    margin-left: 30px;
    padding: 20px;
    transition: 0.5s;
}

.right-content.open {
    margin-left: 330px;
} */