.bignumber-chart-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.bignumber-chart-icon {
    font-size: 90px;
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.bignumber-chart-header {
    color: white;
    margin: 0px 10px 40px 20px;
}

.bignumber-chart-body {
    font-size: 35px;
    color: white;
    margin: 20px;
}

@media (max-width: 575.9px) {
    .bignumber-chart-icon {
        font-size: 60px;
    }

    .bignumber-chart-body {
        font-size: 20px;
    }

    .bignumber-chart-header {
        color: white;
        font-size: 16px;
    }
}